apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-prometheus-stack
  namespace: monitoring # This resource will be created in the monitoring namespace
spec:
  interval: 24h
  url: https://prometheus-community.github.io/helm-charts

